@font-face {
    font-family: 'Gontserrat Bold';
    src: url('../fonts/Gontserrat Bold.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Gontserrat Regular';
    src: url('../fonts/Gontserrat Regular.woff') format('woff');
    font-display: swap;
}