@import 'vars';
@import 'global';
@import 'fonts';



.home{
    padding-top: 102px;
    text-align: center;
    color: #fff;
}
.home__logo{
    img{
        width: 800px;
    }
}
.home__title{
    margin-top: 80px;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
}
.home__text{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    max-width: 287px;
    margin: 0 auto;
    margin-top: 30px;
}

.home__btn{
    border-radius: 2px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 50px 0px 50px;
}
.home__btn-link{
    padding: 20px;
    text-transform: uppercase; 
    color: #fff;

}
.home__adress{
    font-weight: 400;
    font-size: 18px;
    max-width: 303px;
    margin: 0 auto;
    text-transform: uppercase;
}
// lookbook start
.lookbook__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.lookbook__inner-item{
    img{
        width: 385px;
        height: 575px;
    }
}
// lookbook end
// contact start
.contact__inner{
    display: flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    padding: 50px 0px 171px;
}
.contact__inner-avatar{
    img{
        width: 373px;
        height: 512px;
    }
}
.contact__inner-content{
    margin-left: 144px;
    .about-me{
        max-width: 475px;
        margin-bottom: 70px;
    }
    h3{
        margin: 0;
        font-size: 24px;
        line-height: 29px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .about-me__contacts{
        margin-top: 20px;
        li{
            text-transform: uppercase;
            & + li{
                margin-top: 10px;
            }
        }
    }
}
// contact end
// prices start
.prices__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.prices__inner-item{
    img{
        width: 580px;
        height: 280px;
    }
    .prices-item__text{
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        margin: 1px 0px 50px;
    }
}
.prices-training__title{
    margin: 0px 0px 40px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 21px;
    align-items: center;
    &::before,
    &::after{
        display: block;
        content: '';
        height: 1px;
        background: #792796;
    }
}
.prices-training__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 65px;
    .prices-training-item{
        img{
            width: 580px;
            height: 280px;
        }
        .prices-item__text{
            font-size: 18px;
            line-height: 23px;
            font-weight: 400;
        }
    }
}
.prices__btn-box{
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}
.prices__btn{
    margin-top: 0;
}
// prices end
// product start
.product__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__inner-item{
    img{
        width: 385px;
        height: 575px;
    }
}
// product end
// portrait start
.portrait__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.portrait__inner-item{
    img{
        width: 385px;
        height: 575px;
    }
}
// portrait end
// family start
.family__inner{
 display: grid;
 grid-gap: 5px;
 

}
.family__inner-item{
    
}

// family end